/*
Theme Name:NEAT
Theme URI:www.neat
Author: OlineIT-Asmana Ria
Author URI:www.olineit.com
Version:0.0.1
Description:Fully device responsive theme.
Tags:Dynamic logo,menu,slider,content.
*/

.custom-logo {
  width: 45%;
  height: auto;
}
#menu-header-menu li:hover .dropdown-menu {
	display: block;
	background: #000;
}
.dropdown-menu:hover li {
	background: #000;
}
.dropdown-menu:hover li a {
	background: #000;
}
#menu-header-menu li .dropdown-menu li a{
	color: #fff !important;
}
#menu-header-menu li:hover .dropdown-menu{
	color:#fff;
	background: #000 !important;

}
#menu-header-menu li .dropdown-menu:hover li a {
	padding: 3px 10px;
	margin: 5px 0px;
}
#menu-header-menu li .dropdown-menu li a {
	padding: 3px 10px;
	margin: 5px 0px;
}
